<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhut.wjadmin.module.book.BookMapper">
    <select id="getRecommendBooks" resultType="java.util.HashMap">
        select a.title,a.author,a.pub_year year, a.abs, a.publisher,a.image_url imageUrl
        from book a
        where  a.state = 0
    </select>
</mapper>
